<nav class="navbar navbar-inverse" role="navigation">
    <ul class="nav navbar-nav">
        <li><a href="/">Главная</a></li>
        <% if (user) { %>
        <li><a href="/posts">Blog</a></li>
        <li><a href='/profile/<%= user._id %>'>Аккаунт</a></li>
        <% } %>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <% if (user) { %>
        <li><a href="" onclick="$('<form method=POST action=/logout>').submit();return false"><span class="glyphicon glyphicon-log-in">Выйти</span></a></li>
        <% } else { %>
        <li><a href="/login"><span class="glyphicon glyphicon-user">Войти</span></a></li>
        <% } %>
    </ul>
</nav>